@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css');
@import "tailwindcss";

@theme {
  --color-primary: #075985;
  --color-secondary: #0ea5e9;
  --color-accent: #f59e0b;
  --color-dark: #0f172a;
}

/* Custom scrollbar for table optimization on mobile */
.table-container::-webkit-scrollbar {
  height: 6px;
}

.table-container::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.table-container::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 10px;
}
